
.container{
    background-image: url("https://img.freepik.com/vector-premium/fondo-abstracto-azul-oscuro-decoracion-rayas-linea-plateada-moderna_181182-514.jpg?w=996");
    background-size: cover;
    height: 100vh;
}
.container div{
    position: absolute;
    margin-top: 200px;
    left: 45%;
    color: white;
}
.container img{
    width: 140px;
    border-radius: 100%;
}
.container h1{
    margin-top: -5px;
}
.container p{
    margin-top: -15px;
}
.button_cv{
    width: 100px;
    height: 35px;
    transition: 0.3s;
    background-color: rgb(0, 0, 40);
    cursor: pointer;
}
.button_cv:hover{
    background-color: black;
}
.button_cv span{
    position: absolute;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    left: 45px;
    bottom: 7px;
    transition: 0.3s;
}
.button_cv svg{
    position: relative;
    opacity: 0;
    top: 2px;
    left: -63px;
    transition: 0.3s;
    color: white;
}

.button_cv:hover span{
    opacity: 0;
}
.button_cv:hover svg{
    left: 0px;
    opacity: 100;
}