.container{
  background-color: rgb(0, 0, 36);
  height: 190vh;
}


.text_about {
    padding: 10px;
    background-color: rgb(0, 0, 36);
    align-items: center;
    font-weight: 200;
    position: absolute;
    max-width: 85%;
    border: 2px solid white;
    color: rgb(160, 160, 160);
    top: 105%;
    right: 7.5%;
    left: 7.5%;
    margin: 0 auto;
   
    font-size: 1.1vw;
    text-align: center;
  }
.muestraVideo{
  display: flex;
  position: relative;
  top: 50vh;
  margin: 0 auto;
  justify-content: center;
  
  
  width: 85%;
}
.container h2{
    position: absolute;
    top: 255vh;
    left: 35%;
    right: 35%;
    width: 30%;
    font-size: 1.5vw;
    color: rgb(102, 102, 102);
}

.all{
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 70, 0), rgba(8, 0, 54, 0) );
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 220vh;
}
.tech{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.tech span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(270px);
}
.tech span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;
}

.tech span:hover img{
    transform: translateY(-40px);
}
.image_about{
    margin-right: 50%;
    width: 600px;
  
}
.boton {
    position: relative;
    
    display: flex;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    
    font-size: 20px;
    transition: 0.4s ease-in-out all;
    background-color: black;
    color: white;
  }
  .containerButton{
    position: absolute;
    top: 270vh;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .boton_tech {
    display: flex;
    width: 40px;
    font-size: 14px;
    transition: 0.4s ease-in-out transform, 0.3s ease-in-out margin-right;
    margin-left: 8px;
  }
  
  .boton:hover {
    width: 120px;
    background-color: rgb(0, 0, 94);
  }
  
  .boton svg {
    position: absolute;
    left: 100px;
    transition: 0.2s;
    opacity: 0;
    top: 15px;
  }
  
  .boton:hover svg {
    left: 10px;
    opacity: 100;
  }
  
  .boton:hover .boton_tech {
    transform: translateX(20px);
    margin-right: -40px;
  }
  .container_allTech{
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1160px;
  }
  .muestraVideo{
    border: solid 5px white;
    width: 60%;
    margin: 0 auto;
  }