.container{
    height: 100vh;
    background: linear-gradient(
        rgb(0, 0, 88),
        rgb(0, 0, 141)
    );
    border-top: rgb(5, 0, 48) solid 3px;
}

.img_background img{
    width: 600px;
    position: absolute;
    top: 1380px;
    right: 50px;
}
.container_rise_talk{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 10%;
    top: 211%;
    width: 33%;
    height: 250px;
    background-color: rgb(233, 233, 233);
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 20px;
    cursor: default;
    
}

.container_rise_talk img{
    width: 350px;
    height: 100px;
}
.container_videogames{
    position: absolute;
    top: 255%;
    left: 10%;
    background-color: rgb(233, 233, 233);
    border: rgb(255, 255, 255) solid 3px;
    width: 33%;
    height: 250px;
    border-radius: 20px;
    cursor: default;
}
.videogame_title {
    display: flex;
    background-color: rgba(0, 0, 0, 0.171);
    height: 30px;
    justify-content: center;
    align-items: center;
}

.container_videogames:hover .videogame_title{
    opacity: 0;
}
.videogame_description{
    display: flex;
    position: absolute;
    font-size: 1px;
    color: white;
    top: -1px;
    opacity: 0;
    transition: 0.4s;
    align-items: center;

}

.container_videogames:hover .videogame_description{

    top: 0px;
 opacity: 100;
 height: 180px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    border-radius: 20px;
    font-size: 20px;
}
.container_videogames img{
    width: 35%;
    height: 30%;
    position: absolute;
    margin: 0 -80px;
    top: 32%;
    bottom: 38%;
}

.text_videogame{
  width: 70%;
    font-size: 3.5vw;
    font-weight: bold;
    position: relative;
    top: 23%;
    bottom: 50%;
    left: 70px;
}
.svg_enter{
    display: flex;
   position: absolute;
   top: 195px;
    left: 10px;
    background-color: rgb(158, 158, 158);
    width: 50px;
    height: 40px;
    border-radius: 15px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
}
.svg_enter svg{
    position: absolute;
    top: 3px;
    left: 5px;
    margin-right: 5px;
    transition: 0.4s;
    
}
.svg_enter div{
    position: absolute;
    top: 60px;
    width: 100px;
    transition: .3s ease-in-out all;
    opacity: 0;
}
.svg_enter:hover{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 92);
    border-radius: 3px;
}
.svg_enter:hover div{
    opacity: 100;
    top: 30px;
    color: white;
}
.svg_enter:hover svg{
    left: 29px;
    color: white;
}

.svg_github {
    display: flex;
    position: absolute;
    top: 195px;
    right: 10px; 
    background-color: rgb(158, 158, 158);
    width: 50px;
    height: 40px;
    border-radius: 15px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }
  
  .svg_github svg {
    position: absolute;
    top: 3px;
    right: 5px; 
    margin-right: 5px;
    transition: 0.4s;
  }
  
  .svg_github div {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100px;
    transition: 0.3s ease-in-out all;
    opacity: 0;
    font-size: 14px;
  }
  
  .svg_github:hover {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 92);
    border-radius: 3px;
  }
  
  .svg_github:hover div {
    opacity: 100;
    top: 30px;
    color: white;
  }
  
  .svg_github:hover svg {
    right: 29px; 
    color: white;
  }

  .rise_talk_description{
    display: flex;
    position: absolute;
    font-size: 1px;
    color: white;
    top: -1px;
    opacity: 0;
    transition: 0.4s;
    align-items: center;
  }
  .container_rise_talk:hover .rise_talk_description{

    top: 0px;
 opacity: 100;
 height: 180px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    border-radius: 20px;
    font-size: 20px;
}

  .rise_talk_title{
    display: flex;
    position: absolute;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.171);
    top: 0;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .container_rise_talk:hover .rise_talk_title{
    opacity: 0;
  }
  .container_ecommerce{
    position: absolute;
    top: 211%;
    left:55%;
    right: 14%;
    background-color: rgb(233, 233, 233);
    border: rgb(255, 255, 255) solid 3px;
    width: 33%;

    height: 250px;
    border-radius: 20px;
    cursor: default;
}
.ecommerce_title {
  display: flex;
  background-color: rgba(0, 0, 0, 0.171);
  height: 30px;
  justify-content: center;
  align-items: center;
}

.container_ecommerce:hover .ecommerce_title{
  opacity: 0;
}
.ecommerce_description{
  display: flex;
  position: absolute;
  font-size: 1px;
  color: white;
  top: -1px;
  opacity: 0;
  transition: 0.4s;
  align-items: center;

}
.container a{
color: black;
}
.container_ecommerce:hover .ecommerce_description{

  top: 0px;
opacity: 100;
height: 180px;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 1;
  border-radius: 20px;
  font-size: 20px;
}
.container_ecommerce img{
  width: 150px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 35%;
}
.text_ecommerce{
  font-size: 55px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 150px;
}

.svg_container{
  display: flex;
  position: absolute;
  top: 78%;
  right: 10px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  width: 50px;
    height: 40px;
  transition: .3s ease-in-out;  
  cursor: pointer;
    
}
.svg_container div{
  display: none;
  color: black;
}
.svg_ecommerce_back{
  display: none;
  padding-top: 4px;
  
}
.svg_ecommerce_front{
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 4px;
  padding-right: 8px;
  transition: 0.3s ease-in-out;
  
}
.svg_ecommerce_front:hover div{
  color: white;
  
}
.svg_ecommerce_front:hover svg{
  color: white;
}
.svg_ecommerce_front:hover{
  background-color: rgb(0, 0, 92);
  
}
.svg_container:hover{
  width: 200px;
  height: 60px;
  border-radius: 3px;
  top: 76%;
}
.svg_container:hover .svg_ecommerce_front{
  transition: 0.4s;
  top: 0px;

 border-radius: 3px;
  width: 92px;
  height: 55px;
}
.svg_ecommerce_front div{
  text-decoration: none;
}
.svg_container:hover .svg_ecommerce_back{
  display: block;
  position: relative;
  border-radius: 3px;
  width: 100px;
  height: 55px;
  
}
.svg_ecommerce_back:hover{
  background-color: rgb(0, 0, 92);
  
}
.svg_ecommerce_back:hover div{
  color: white;
  
}
.svg_ecommerce_back:hover svg{
  color: white;
  
}
.svg_container:hover div{
  display: block;
  font-size: 14px;
  position: relative;
  
}
.container_dogs{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 55%;
  top: 255%;
  width: 33%;

  height: 250px;
  background-color: rgb(233, 233, 233);
  border: rgb(255, 255, 255) solid 3px;
  border-radius: 20px;
  cursor: default;
}
.container_dogs:hover .rise_talk_description{

  top: 0px;
opacity: 100;
height: 180px;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 1;
  border-radius: 20px;
  font-size: 20px;
}
.container_dogs img{
  position: relative;
  width: 150px;
  height: 100px;
  right: 15%;
}
.text_dogs{
  font-size: 55px;
    font-weight: bold;
    position: absolute;
    top: 35%;
   right: 20%;
}
.desarrollo{
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  border-radius: 5px;
  background-color: rgba(7, 0, 66, 0.11);
  width: 60%;
  height: 35px;
  padding-top: 2px;
  font-size: 20px;
  color: rgb(68, 68, 68);
  font-weight: 500;
}
.desarrollo img{
  
  position: relative;
  width: 25px;
  height: 25px;
  top: 4px;
  left: 2%;
}
.container_dogs:hover .desarrollo{
  opacity: 100;
}