.container{
  
  background: 
  linear-gradient(-12deg, #ffffff00 50%, rgba(0, 0, 44, 0.786) 50%),
  linear-gradient(40deg, #ffffff00 50%, rgba(0, 0, 70, 0.786) 30%), url("../../images/tele.jpg");
    height: 1700px;
    width: 100vw;
}
.allProyects{
  position: relative;
  display: grid;
  width: 100vw;
  top: 100px;
  grid-template-columns: repeat(2, 2fr);
  
  row-gap: 130px;

  
  
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-weight: bold;
  padding: 50px;
  color: rgb(204, 204, 204);
  background-color: rgba(0, 0, 0, 0.63);
  margin-bottom: 1px;
}

.cardBartolo{
  position: relative;
  left: 40px;
}
.container_rise_talk{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 
  background-color: rgb(233, 233, 233);
  border: rgb(255, 255, 255) solid 3px;
  width: 40vw;
 
  height:250px;
  
  
  cursor: default;
    
}

.container_rise_talk img{
  position: relative;
    width: 350px;
    height: 100px;
    top: 35%;
}
.container_videogames{
  position: relative;
  display: flex;
  justify-content: center;
  
  left: 5vw;
  background-color: rgb(233, 233, 233);
  border: rgb(255, 255, 255) solid 3px;
  width: 40vw;
  height: 250px;
  
  
  cursor: default;
}
.videogame_title {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.171);
    height: 30px;
    justify-content: center;
    align-items: center;
}

.container_videogames:hover .videogame_title{
    opacity: 0;
}
.videogame_description{
  display: flex;
  position: absolute;
  font-size: 1px;
  justify-content: center;
  color: white;
  top: 253px;
  opacity: 0;
  transition: 0.4s;
  align-items: center;
  width: 100%;

}

.container_videogames:hover .videogame_description{

  opacity: 100;
  height: 130px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    
    font-size: 20px;
}
.container_videogames img{
    width: 35%;
    height: 30%;
    display: flex;
    
    position: absolute;
  
    top: 40%;
    bottom: 38%;
}
.container_videogames:hover img{
  opacity: 30%;
}

.text_videogame{
  width: 70%;
    font-size: 3.5vw;
    font-weight: bold;
    position: absolute;
    display: flex;
    
    justify-content: center;
    top: 20%;
    bottom: 50%;
    
}
.container_videogames:hover .text_videogame{
  opacity: 30%;
}
.svg_enter{
    display: flex;
   position: absolute;
   top: 75%;
    left: 10px;
    background-color: rgb(158, 158, 158);
    width: 50px;
    height: 40px;
    border-radius: 15px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
}
.svg_enter svg{
    position: absolute;
    top: 3px;
    left: 5px;
    margin-right: 5px;
    transition: 0.4s;
    
}
.svg_enter div{
    position: absolute;
    top: 60px;
    width: 100px;
    transition: .3s ease-in-out all;
    opacity: 0;
}
.svg_enter:hover{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 92);
    border-radius: 3px;
}
.svg_enter:hover div{
    opacity: 100;
    top: 30px;
    color: white;
}
.svg_enter:hover svg{
    left: 29px;
    color: white;
}

.svg_github {
    display: flex;
    position: absolute;
    top: 185px;
    right: 10px; 
    background-color: rgb(158, 158, 158);
    width: 50px;
    height: 40px;
    border-radius: 15px;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }
  
  .svg_github svg {
    position: absolute;
    top: 3px;
    right: 5px; 
    margin-right: 5px;
    transition: 0.4s;
  }
  
  .svg_github div {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100px;
    transition: 0.3s ease-in-out all;
    opacity: 0;
    font-size: 14px;
  }
  
  .svg_github:hover {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 92);
    border-radius: 3px;
  }
  
  .svg_github:hover div {
    opacity: 100;
    top: 30px;
    color: white;
  }
  
  .svg_github:hover svg {
    right: 29px; 
    color: white;
  }
.container_bartolo{
  position: relative;
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
  background-color: rgb(233, 233, 233);
  border: rgb(255, 255, 255) solid 3px;
  width: 40vw;
  height:250px;
  
  
  cursor: default;
}
.container_bartolo:hover .text_bartolo{
  opacity: 30%;
}
.container_bartolo img{
  width: 35%;
    height: 30%;
    display: flex;
    
    position: absolute;
  
    top: 45%;
    bottom: 38%;
}
.container_bartolo:hover img{
  opacity: 30%;
}
.bartolo_description{
  display: flex;
  position: absolute;
  font-size: 1px;
  justify-content: center;
  color: white;
  top: 252px;
  opacity: 0;
  transition: 0.4s;
  align-items: center;
  width: 40vw;
}
.container_bartolo:hover .bartolo_description{
  opacity: 100;
  height: 130px;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    
    font-size: 20px;
}
.text_bartolo{
  position: relative;
  font-size: 55px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  width: 100%;
  justify-content: center;
}
  .rise_talk_description{
    display: flex;
  position: absolute;
  font-size: 1px;
  justify-content: center;
  color: white;
  top: 252px;
  opacity: 0;
  height: max-content;
  transition: 0.4s;
  align-items: center;
  width: 40vw;
  }
  .container_rise_talk:hover .rise_talk_description{

    opacity: 100;
  
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    
    font-size: 20px;
}

  .rise_talk_title{
    display: flex;
    position: absolute;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.171);
    top: 0;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
 
  .container_ecommerce{
    position: relative;
    display: flex;
    
    grid-column: span 2;
    margin: 0 auto;
    
    background-color: rgb(37, 37, 37);
    border: rgb(255, 255, 255) solid 3px;
    width: 70vw;
    height:500px;
    color: white;
    
    cursor: default;
}

.ecommerce_title {
  position: absolute;
  margin: 0 auto;

  background-color: rgb(0, 0, 0);
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container_ecommerce:hover .ecommerce_title{
  opacity: 0;
}
.ecommerce_description{
  display: flex;
  position: absolute;
  font-size: 1px;
  justify-content: center;
  color: white;
  top: 505px;
  opacity: 0;
  transition: 0.4s;
  align-items: center;
  width: 70vw;
  
}
.container a{
color: black;
}
.container_ecommerce:hover .ecommerce_description{

  
opacity: 100;
height: min-content;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 1;
  
  font-size: 20px;
}
.container_ecommerce img{
  width: 150px;
  height: 80px;
  position: absolute;
  left: 230px;
  top: 40%;
}
.container_ecommerce:hover img{
  opacity: 20%;
}

.text_ecommerce{
  font-size: 55px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 400px;
}
.container_ecommerce:hover .text_ecommerce{
  opacity: 20%;
}

.svg_container{
  display: flex;
  position: absolute;
  top: 75%;
  right: 10px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  width: 50px;
    height: 40px;
  transition: .3s ease-in-out;  
  cursor: pointer;
    
}
.svg_container div{
  display: none;
  color: black;
}
.svg_ecommerce_back{
  display: none;
  padding-top: 4px;
  
}
.svg_ecommerce_front{
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 4px;
  padding-right: 8px;
  transition: 0.3s ease-in-out;
  
}
.svg_ecommerce_front:hover div{
  color: white;
  
}
.svg_ecommerce_front:hover svg{
  color: white;
}
.svg_ecommerce_front:hover{
  background-color: rgb(0, 0, 92);
  
}
.svg_container:hover{
  width: 200px;
  height: 60px;
  border-radius: 3px;
  top: 75%;
}
.svg_container:hover .svg_ecommerce_front{
  transition: 0.4s;
  top: 0px;

 border-radius: 3px;
  width: 92px;
  height: 55px;
}
.svg_ecommerce_front div{
  text-decoration: none;
}
.svg_container:hover .svg_ecommerce_back{
  display: block;
  position: relative;
  border-radius: 3px;
  width: 100px;
  height: 55px;
  
}
.svg_ecommerce_back:hover{
  background-color: rgb(0, 0, 92);
  
}
.svg_ecommerce_back:hover div{
  color: white;
  
}
.svg_ecommerce_back:hover svg{
  color: white;
  
}
.svg_container:hover div{
  display: block;
  font-size: 14px;
  position: relative;
  
}
.container_dogs{
  position: relative;
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
  background-color: rgb(233, 233, 233);
  border: rgb(255, 255, 255) solid 3px;
  width: 40vw;
  height:250px;
  
  
  cursor: default;
}
.container_dogs:hover .rise_talk_description{

  
  opacity: 100;
  
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 1;
    
    font-size: 20px;
}
.container_dogs img{
  position: relative;
  display: flex;
  width: 150px;
  height: 100px;
  right: 10%;
  top: 35%;
}
.text_dogs{
  font-size: 55px;
    font-weight: bold;
    position: absolute;
    top: 40%;
   right: 25%;
}
.desarrollo{
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  border-radius: 5px;
  background-color: rgba(7, 0, 66, 0.11);
  width: 60%;
  height: 35px;
  padding-top: 2px;
  font-size: 20px;
  color: rgb(68, 68, 68);
  font-weight: 500;
}
.desarrollo img{
  
  position: relative;
  width: 25px;
  height: 25px;
 top: -22px;
  left: 2%;
}
.container_dogs:hover .desarrollo{
  opacity: 100;
}